@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Hurricane&family=PT+Sans+Narrow&family=Quicksand:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
}

header{
    padding: 20px 40px;
}

body{
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
    line-height: 1.2;
    color: azure;
    max-width: 640px !important;
    margin-left: auto;
    margin-right: auto;
}

nav{
    padding: 20px 40px;
    background-color: red;
}

nav a{
    margin-right: 10px;
    color: azure;
    text-decoration: none;
}

nav a:hover{
    padding-bottom: 1.5px;
    color: #5000ff;
    border-bottom: 1px solid azure;
}

h2{
    font-size: 36px;
}

section{
    background-color: #5000ff;
    padding: 20px;
    text-align: justify;
}

.picture{
    padding: 0;
}
section p{
    padding: 20px;
}

p a{
    text-decoration: none;
    color: #FBEAFF;
    border-bottom: 1px solid red;
    padding-bottom: 1px;
}

p a:hover{
    color: #4EFCE0;
}

blockquote{
    font-size: 28px;
    line-height: .9;
    font-style: italic;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

section img{
    width: 100%;
}

@media (max-width: 720px){

    header{
        padding: 20px 40px;
    }
    nav a{
        display: block;
    }

    nav a:hover{
        border: none;
    }

    body{
        font-family: 'Quicksand', sans-serif;
        font-size: 18px;
        line-height: 1.5;
        color: azure;
        max-width: 640px !important;
        margin-left: auto;
        margin-right: auto;
    }

    h2, blockquote{
        font-size: 28px;
    }

    section p{
        padding: 10px;
    }

    blockquote{
        line-height: .9;
        font-style: italic;
        padding: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}